body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.intro {
    margin: 0 auto;
    text-align: center;
    width: 70%;
}

#profilePic {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-top: 40px;
    border: 5px solid black;
    transition: border-color 200ms ease;
}

#profilePic:hover {
    border-color: rgb(18, 176, 18);
}

.introText {
    font-size: 22px;
    text-align: center;
}

.sectionsContainer {
    display: flex;
    flex-direction: column;
}

.otherMedia {
    margin: 20px auto;
    width: max-content;
}

.mediaText {
    margin-right: 10px;
    vertical-align: middle;
    font-size: 1.2em;
}

.logoBtn { 
    display: inline-block;
    width: fit-content;
    border: transparent;
    padding: 7px 10px;
    margin: 0 10px;
}

.logoBtn:hover {
    cursor: pointer;
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    text-decoration: none;
}

.logo {
    max-width: 26px;
    max-height: 20px;
    margin-right: 3px;
}

.logo, .logoText {
    font-size: 1.1em;
    vertical-align: middle;
}

.logoText:hover {
    text-decoration: none;
}