body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.projectsPageContainer {
    margin: 0 20px;
}

.projectsIntro {
    font-size: 1.2em;
    max-width: 1200px;
    margin: 5vh auto;
}

.projectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-template-rows: repeat(auto-fill, 250px);
    max-width: 1200px;
    place-content: start space-evenly;
    margin: 5vh auto;
    row-gap: 20px;
}

@media screen and (max-width: 700px) {
    .projectsIntro {
        font-size: max(1em, 16px);
    }

    .projectsGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        grid-template-rows: repeat(auto-fill, 250px);
        max-width: 700px;
        place-content: start space-evenly;
        margin: 5vh auto;
        row-gap: 20px;
    }
}