.project {
    margin: 0 auto;
}

.thumbnail {
    width: 300px;
    height: 200px;
    transition: all 200ms ease;
    transition-property: max-width, max-height;
}

.thumbnail:hover {
    width: 300px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
}

.projectTitle {
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
}