.sectionLink {
    text-decoration: none;
    background-color: white;
    color: rgb(0, 63, 126);
    font-weight: 500;
    font-size: 18px;
    border: 2px solid rgb(0, 63, 126);
    padding: 12px 20px;
    margin: 10px auto;
    text-align: center;
    width: 200px;
    transition: all 400ms ease;
    transition-property: background-color, color;
}

.sectionLink:hover {
    background-color: rgb(0, 63, 126);
    color: white;
    cursor: pointer;
}